/* font-family: "OpenSansRegular"; */
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background: #999;
}

#toolbarViewerLeft,
#toolbarViewerMiddle,
#toolbarViewerRight {
  display: none;
}

#loadingBar {
  background: none;
  border-bottom: none;
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100% !important;
}

#loadingBar .progress {
  background-color: #6699FF;
}

html[dir='ltr'] #toolbarContainer {
  background: white;
  height: 56px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#toolbarViewer {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 16px OpenSans;
  color: #4a4a4a;
}

#rtb-document-title {
  padding-right: 70px;
  padding-left: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

#rtb-close-btn {
  position: absolute;
  right: 0;
  width: 70px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6699ff;
}

#viewerContainer {
  top: 56px;
}

#viewerContainer::-webkit-scrollbar {
  width: 0;
  height: 4px;
}

#viewerContainer::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border: 0 solid transparent;
}

.pdfViewer .page {
  border-image: none;
  border: 3px solid transparent;
  margin: 10px auto 0 auto;
}

.pdfViewer .page:first-child {
  margin-top: 4px;
}

.pdfViewer .page:last-child {
  margin-bottom: 4px;
}

.pdfViewer .canvasWrapper {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
}

#pages-floating-block {
  position: absolute;
  top: 70px;
  left: 20px;
  display: flex;
  background: #eeeeee;
  z-index: 1;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 32px;
  color: #9b9b9b;
  font: 16px OpenSans;
  font-weight: 600;
  padding: 0 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
